@import "./common";
@import "../scss/components/header";
@import "../scss/components/buttons";
@import "../scss/components/footer";
@import "../scss/components/form";

html,
body {
  font-size: 16px;
  font-family: $font-stack;
  color: $text-main;
}

