@import "./variables";
@import "./extends";

.container {
  @extend %container-size;
}
.title {
  @extend %h2-text;
  font-weight: $bold;
  text-align: center;
  margin: 0 0 30px;
}



/*banner*/
.banner {
    margin-top: 3rem;
    height: 40rem;
    background-image: url(../../img/bg/bg-banner.png);
    background-repeat: no-repeat;
    background-position: 60% 57%;
  &__wrapp {
    @extend %display-space-between;
  }
  &__info {
    margin-top: 10rem;
  }
  &__title {
    @extend %h1-text;
    font-weight: $medium;
    width: 590px;
  }
  &__text {
    @extend %h2-text;
    font-weight: $regular;
    width: 470px;
    margin: 50px 0;
  }
  &__span {
    color: $accent-color;
    font-weight: $bold;
  }
}

/*discount*/
.slider-container {
  overflow: hidden;
  position: relative;
  .btn-next {
    right: 0;
  }
  .btn-prev,
  .btn-next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 1rem;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: rgba(11, 174, 232, 0.34);
  }
  .btn-prev:hover,
  .btn-next:hover {
    background-color: rgba(11, 111, 146, 0.66);
  }
  .slider-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.discount {
  &__wrapp {
    margin-top: 110px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
  }
  &__cover {
    overflow: hidden;
    width: 380px;
    height: 243px;
    border-radius: 3px;
  }
  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__info {
    @extend %display-space-between;
    width: 380px;
    margin-top: 10px;
  }
  &__text {
    @extend %h3-text;
    width: 218px;
    margin: 0;
    font-weight: $medium;
  }
  &__link {
    text-decoration: none;
    color: $btn-text_color;
    font-weight: $medium;
    padding: 13px 24px;
    border-radius: 3px;
    background: $btn-color;
  }
  &__link:hover {
    background: $btn-hover;
    box-shadow: 0 0 2rem rgba(83, 199, 240, 0.36);
  }
}


/*about us*/
.information {
  background-image: url(../../img/bg/bg__info.svg);
  background-repeat: no-repeat;
  background-position: 0 78%;
  margin-top: 8rem;
  &__wrapp {
    margin-top: 6.25rem;
    display: flex;
    justify-content: space-between;
  }
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    margin: 0;
  }
  &__text {
    @extend %h3-text;
    width: 543px;
  }
  &__link {
    @extend %h3-text;
    color: $accent-color;
    text-decoration: none;
    font-weight: $regular;
    position: relative;
    display: flex;
    align-items: center;
  }
  &__link:hover{
      color: $btn-hover;
      font-weight: $medium;
      text-decoration: underline;
  }
  &__link:after {
    content: '';
    background-image: url("../../img/common/arrow-right.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 19px;
    display: block;
    left: 17%;
  }
}

/*advantage*/
.advantage {
  margin-top: 6.25rem;
  background-image: url(../../img/bg/ad_bg.svg);
  background-repeat: no-repeat;
  background-position: 0 75%;
  &__items {
    display: grid;
    gap: 20px 50px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 58px;
  }
}


.service {
  &__wrapp {
    margin-top: 6.25rem;
  }
  margin-top: 5rem;
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  &__item {
    border-radius: 6px;
    border:1px solid $accent-color;
  }
  &__name {
    margin: 0 40px;
    padding: 10px;
    font-weight: $bold;
    color: #4C6474;
    position: relative;
    text-align: left;
  }
  &__name::before {
    content: '';
    background-repeat: no-repeat;
    position: absolute;
    width: 15%;
    height: 39px;
    display: block;
    top: 4%;
    left: -11%;
  }
  &__name.therapy::before {
    background-image: url("../../img/service/icon2.svg");
  }
  &__name.orthopedics::before {
    background-image: url("../../img/service/la_teeth.svg");
  }
  &__name.prevention::before {
    background-image: url("../../img/service/mdi_toothbrush-paste.png");
  }
  &__name.surgery::before {
    background-image: url("../../img/service/icon4.svg");
  }
  &__name.imlpantation::before {
    background-image: url("../../img/service/icon5.svg");
  }
  &__name.whitening::before {
    background-image: url("../../img/service/icon6.svg");
  }
  &__name::after {
    content: '';
    background-image: url("../../img/service/service-open.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 15%;
    height: 39px;
    display: block;
    top: 23%;
    right: -20%;
  }
  &__open {
    display: flex;
    flex-direction: column;
    padding: 10px 16px;
    border-top: 1px solid $accent-color;
  }
  .open.service__open {
    display: flex;
  }
  &__body {
    height: 180px;
    overflow: hidden;
  }
  &__price-list {
    display: flex;
    justify-content: space-between;
  }
  &__price-list ul {
    list-style: url(../../img/service/list_ellipse.svg);
    margin: 0;
  }
  &__price-list ul:last-child {
    padding: 0;
    list-style: none;
  }
  &__price-list ul:first-child{
    padding: 0 15px;
  }
  &__price-list li {
    font-size: 1rem;
    padding: 0;
    line-height: 2;
  }
  &__link {
    @extend %h3-text;
    color: $accent-color;
    text-decoration: none;
    font-weight: $regular;
    display: block;
    text-align: center;
    padding-top: 10px;
  }
  &__link:hover{
    color: $btn-hover;
    font-weight: $medium;
  }
  &__close {
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__close.therapy {
    background-image: url(../../img/service/therapy.png);
  }
  &__close.orthopedics {
    background-image: url(../../img/service/orthopedics.png);
  }
  &__close.prevention {
    background-image: url(../../img/service/prevention.png);
  }
  &__close.surgery {
    background-image: url(../../img/service/surgery.png);
  }
  &__close.imlpantation {
    background-image: url(../../img/service/imlpantation.png);
  }
  &__close.whitening {
    background-image: url(../../img/service/whitening.png);
  }
  .close.service__close {
    display: none;
  }
  &__showMore {
    cursor: pointer;
  }
}

.comment {
  margin-top: 6.25rem;
  &__wrapp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__head {
    @extend %display-space-between;
    @extend %h3-text;
  }
  &__user {
    font-weight: $medium;
    margin: 0;
  }
  &__items {
    display: flex;
    margin: 0 0 40px;
  }
  &__item {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 7px;
  }
  &__inside {
    border: 1px solid $accent-color;
    border-radius: 6px;
    padding: 15px;
  }
  &__link {
    border-radius: 6px;
    padding: 1rem 1.4rem;
    background-color: $btn-color;
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-align: center;
  }
  &__link:hover {
    background-color: $btn-hover;
  }
}
.slider-container2 {
  overflow: hidden;
  position: relative;
}


