@import "./language";

/*color*/
$font-stack: 'Roboto', sans-serif;
$content-width: 1192px;
$accent-color: #1D97C1;
$text-main: #292F33;
$btn_text_color: #ffffff;
$btn-color: #53C7F0;
$btn-hover: #0B6F92;
$bg-footer: #F0FBFE;

/*font-weight*/
$regular: 400;
$medium: 500;
$bold: 700;